---
layout: default
football:
  - name: kick
    description:  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - name: run
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - name: jump
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - name: peekaboo
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
basketball:
  - name: kickb
    description:  to kick
  - name: run
    description: to rudn
  - name: jumpj
    description: to jump
baseball:
  - name: pitch
    description:  to kick
  - name: run
    description: to rudn
  - name: jumpj
    description: to jump
tennis:
  - name: pitch
    description:  to kick
  - name: run
    description: to rudn
  - name: jumpj
    description: to jump
general:
  - name: pitch
    description:  to kick
  - name: run
    description: to rudn
  - name: jumpj
    description: to jump
other:
  - name: pitch
    description:  to kick
  - name: run
    description: to rudn
  - name: jumpj
    description: to jump
---

<div class="terms-heading grid">
  <h2 class="col-12">Sports Terms</h2>
</div>


<section class="terms">


  <h3>Football</h3>
  <!--terms in each section should be alphabetized-->
    {% for term in page.football %}

      <h4>{{term.name}}</h4>
    <!--how does a term linked in newsletter when clicked link into dictionary at term-->
      <p>
      {{term.description}}
      </p>

    {% endfor %}


</section>

<section class="terms">

  <h3>Basketball</h3>

  <!--terms in each section should be alphabetized-->
    {% for term in page.basketball %}
    <h4>{{term.name}}</h4>
    <!--how does a term linked in newsletter when clicked link into dictionary at term-->
    <p>
      {{term.description}}
    </p>
    {% endfor %}

</section>

<section class="terms">

  <h3>Baseball</h3>

  <!--terms in each section should be alphabetized-->
    {% for term in page.baseball %}
    <h4>{{term.name}}</h4>
    <!--how does a term linked in newsletter when clicked link into dictionary at term-->
    <p>
      {{term.description}}
    </p>
    {% endfor %}

</section>

<section class="terms">

  <h3>Tennis</h3>

  <!--terms in each section should be alphabetized-->
    {% for term in page.tennis %}
    <h4>{{term.name}}</h4>
    <!--how does a term linked in newsletter when clicked link into dictionary at term-->
    <p>
      {{term.description}}
    </p>
    {% endfor %}

</section>

<section class="terms">

  <h3>General Sports Terms</h3>
  <!--terms in each section should be alphabetized-->
    {% for term in page.general %}
    <h4>{{term.name}}</h4>
    <!--how does a term linked in newsletter when clicked link into dictionary at term-->
    <p>
      {{term.description}}
    </p>
    {% endfor %}
</section>

<section class="terms">

  <h3>Other Sports Terminology</h3>

  <!--terms in each section should be alphabetized-->
    {% for term in page.other %}
    <h4>{{term.name}}</h4>
    <!--how does a term linked in newsletter when clicked link into dictionary at term-->
    <p>
      {{term.description}}
    </p>
    {% endfor %}

</section>
