* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid rgb(240,240,240);
}

header, footer, section {
  padding: 5%;
}

/*Universal Styles*/
body{
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Bitter', serif;
}

/*header section style*/
.navLinks a{
  color: rgba(0, 99, 160, 0.72);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  padding: 1%;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
}

.navLinks a:hover{
  color: darkslategrey;
  font-style: italic;
}

/*banner section styles*/

.bannerPic{
  background-image: url('../images/backgroundimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-position: center;
}
.bannerPic h1{
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding: 3%;
}

/*Blog of the Week Styles*/

.blogoftheWeek h2{
  background-color: rgba(0, 99, 160, 0.72);
  text-transform: uppercase;
  font-size: 35px;
  padding: 3%;
  text-align: center;
  letter-spacing: 2px;
}

/**sidebar styles*/

.sidebar h2{
  background-color: rgba(0, 99, 160, 0.72);
  text-transform: uppercase;
  font-size: 35px;
  padding: 3%;
  text-align: center;
  letter-spacing: 2px;
}

/*Burger menu*/

.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
}
.burger-menu a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: #C3BFBC;
  font-family: 'Alegreya Sans SC', sans-serif;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}
.burger-menu li{list-style:none}

.burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9999999999;
  padding: 8px;
}

.burger-button span{
  width: 25px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-top, .burger-bottom{
  position: absolute;
}
.burger-top{
  top: 02px;
}
.burger-bottom{
  bottom: 02.5px;
}

.active .burger-top{
  transform: rotateZ(45deg);
  top: 8px;
}

.active .burger-bottom{
  transform: rotateZ(-45deg);
  bottom: 8px;
}

.active .burger-middle{
  opacity:0;
}

  /*media queries*/

.mob-show{
  display: none;
}

@media all and (max-width:465px){
  .mob-show{
    display: block;
  }

  .mob-hide{
    display: none;
  }


}
