<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.0/gridlex.min.css">

    <link rel="stylesheet" href="style/style.css" />
    <meta charset="utf-8">
    <title></title>
    <script src="https://use.fontawesome.com/16cf306bae.js"></script>
    <!--this is my head -->
  </head>

  <body>
    <header>
      <!--this is my header section-->
    <nav class="grid-spaceBetween">
      <div class="logo col-3">
        <!--logo-->
      </div>
      <div class="navLinks col-7">
        <a href="#weeklyRecap">Your Weekly Recap</a>
        <a href="#oldRecaps">Past Recaps</a>
        <a href="#sportsTerms">The Sports Guide</a>
        <a href="#injures"> The Breakdown of Injuries</a>
      </div>
    </nav>
    </header>

    {{content}}

    <footer class="grid">
      <!--this is my footer section-->
      <div class=" myOtherWorks col-6">
        <h2>My Other Works</h2>
      </div>

      <div class="travelBlog col-3">
        <h2>The Senseful Life</h2>
      </div>

      <div class="podcast col-3">
        <h2>Cleveland Girl Against the World Podcast</h2>
      </div>

      <div class="socialMedia">
        <nav>
          <a href="https://www.facebook.com/ife.onyeacholem"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/thesensefullife"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://twitter.com/thesensefullife"><i class="fa fa-twitter-square" aria-hidden="true"></i>
</a>
          <a href="https://www.pinterest.com/ifeonyeacholem/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
        </nav>
      </div>
    </footer>

  </body>
</html>
